<div class="add">
    <form action="{{ basePath }}/dashboard/blog/add" method="post">
        <h2>{{{ icon "fa-plus" }}} {{ section }}</h2>

        {{#if message }}
            <h3>{{{ message }}}</h3>
        {{/if}}

        <div class="left-block">
            <div class="input-block">
                {{{
                    label
                        for="title"
                        text=__.dashboard.forms.fields.title
                }}}

                <p>
                    {{{
                        input
                            id="title"
                            name="title"
                            required=true
                    }}}
                </p>
            </div>

            <div class="input-block">
                {{{
                    label
                        for="slug"
                        text=__.dashboard.forms.fields.slug
                }}}

                <p>
                    {{{
                        input
                            id="slug"
                            name="slug"
                            required=true
                    }}}
                </p>
            </div>

            <div class="input-block">
                {{{
                    label
                        for="tags"
                        text=__.dashboard.forms.fields.tags
                }}}

                <p>
                    {{{
                        input
                            id="tags"
                            name="tags"
                    }}}
                </p>
            </div>

            <div class="input-block">
                {{{
                    label
                        for="author"
                        text=__.dashboard.forms.fields.author
                }}}

                <p>
                    {{{
                        input
                            id="author"
                            name="author"
                            value=userInfo.username
                    }}}
                </p>
            </div>
        </div>

        <div class="right-block">
            <div class="input-block">
                {{{
                    label
                        for="language"
                        text=__.dashboard.forms.fields.language
                }}}

                <p>
                    {{{
                        select
                            id="language"
                            name="language"
                            options=__.dashboard.forms.fields.selects.languages
                    }}}
                </p>
            </div>

            <div class="input-block">
                {{{
                    label
                        for="activeComments"
                        text=__.dashboard.forms.fields.activeComments
                }}}

                <p>
                    {{{
                        select
                            id="activeComments"
                            name="activeComments"
                            options=__.dashboard.forms.fields.selects.decision
                    }}}
                </p>
            </div>

            <div class="input-block">
                {{{
                    label
                        for="estatus"
                        text=__.dashboard.forms.fields.status
                }}}

                <p>
                    {{{
                        select
                            id="estatus"
                            name="estatus"
                            options=__.dashboard.forms.fields.selects.status
                    }}}
                </p>
            </div>

            <div class="input-block">
                {{{
                    label
                        for="publish"
                        text=__.dashboard.forms.fields.publish
                }}}

                <p>
                    {{{
                        submit
                            id="publish"
                            class="btn btn-success"
                            name="publish"
                            value=__.dashboard.forms.fields.publish
                    }}}
                </p>
            </div>
        </div>

        <div class="central-block clearfix">
            <div class="input-block">
                {{{
                    label
                        for="excerpt"
                        text=__.dashboard.forms.fields.excerpt
                }}}

                <p>
                    {{{
                        textarea
                            id="excerpt"
                            class="editor textarea"
                            name="excerpt"
                    }}}
                </p>
            </div>

            <div class="input-block">
                {{{
                    label
                        for="content"
                        text=__.dashboard.forms.fields.content
                }}}

                <p>
                    <a class="pointer" id="include-ad"><i class="fa fa-google"></i></a>
                    <a class="pointer" id="include-code"><i class="fa fa-code"></i></a>
                </p>

                <p>
                    {{{
                        textarea
                            id="content"
                            class="editor textarea"
                            name="content"
                    }}}
                </p>
            </div>

            <div class="input-block">
                {{{
                    label
                        for="codes"
                        text=__.dashboard.forms.fields.codes
                }}}

                <p>
                    {{{
                        textarea
                            id="codes"
                            name="codes"
                    }}}
                </p>
            </div>
        </div>
    </form>
</div>
