{{#minify}}
<!DOCTYPE html>
<html lang="{{ __.site.language }}">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="content-language" content="{{ __.site.language }}" />
        <meta name="title" content="{{ __.site.title }}" />
        <meta name="keywords" content="{{ __.site.meta.keywords }}" />
        <meta name="abstract" content="{{ __.site.meta.abstract }}" />
        <meta name="description" content="{{ __.site.meta.description }}" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        {{#if isMobile}}
            <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
        {{/if}}

        <title>{{ __.site.title }}</title>

        <link href="/css/dashboard/style.css" rel="stylesheet" />

        <link rel="shortcut icon" href="images/favicon.png">
    </head>

    <body>
        {{> dashboard/header }}
        {{> dashboard/sidebar }}

        <div class="content">
            {{{ body }}}
        </div>
    </body>
</html>
{{/minify}}
