{{#minify}}
<!DOCTYPE html>
<html lang="{{ __.site.language }}">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="content-language" content="{{ __.site.language }}" />
        <meta name="title" content="{{ __.site.title }}" />
        <meta name="keywords" content="{{ __.site.meta.keywords }}" />
        <meta name="abstract" content="{{ __.site.meta.abstract }}" />
        <meta name="description" content="{{ __.site.meta.description }}" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        {{#if isMobile}}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{/if}}

        <title>{{ __.site.title }}</title>

        {{#css}}
            <link href="{{ this }}" rel="stylesheet" />
        {{/css}}

        <link rel="shortcut icon" href="images/layout/favicon.png">
    </head>

    <body>
        <header>
            <h1>{{ __.site.title }}</h1>
        </header>

        <div class="page-content">
            {{{ body }}}
        </div>

        <div class="footer">
            <div class="clear"></div>
            <p>&copy; Coding1st.com 2016</p>
        </div>
    </body>
</html>
{{/minify}}
