{{#minify}}
<!DOCTYPE html>
<html lang="{{ __.site.language }}">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="content-language" content="{{ __.site.language }}" />
        <meta name="title" content="{{ __.site.title }}" />
        <meta name="keywords" content="{{ __.site.meta.keywords }}" />
        <meta name="abstract" content="{{ __.site.meta.abstract }}" />
        <meta name="description" content="{{ __.site.meta.description }}" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        {{#if isMobile}}
            <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
        {{/if}}

        <title>{{ __.site.title }}</title>

        {{#css}}
            <link href="{{ this }}" rel="stylesheet" />
        {{/css}}

        <link rel="shortcut icon" href="images/favicon.png">
    </head>

    <body>
        <header class="main-header">
            <h1 class="logo">
                <a href="{{ __.site.baseUrl }}">
                    <span class="coding">coding</span><span class="first">first</span><span class="underscore blink">_</span>
                </a>
            </h1>

            <nav class="main-menu">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Topics</a></li>
                    <li><a href="#">Categories</a></li>
                </ul>
            </nav>
        </header>

        <div class="page-content">
            {{{ body }}}
        </div>

        <div class="footer">
            <div class="clear"></div>
            <p>&copy; Coding1st.com 2016</p>
        </div>
    </body>
</html>
{{/minify}}
